* {
    box-sizing: border-box;
}

.chat-page {
    display: flex;
    height: 92.5vh;
}

.sidebar {
    flex: 0 0 20%;
    background-color: #d8b490;
    text-align: center;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 10px 2px 20px #000; */
}

.contain {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.display-section {
    padding: 4rem;
    padding-right: 30%;
    padding-left: 30%;
    flex: 0 0 85%;
    overflow-y: scroll;
    background-image: url("./chat.jpeg");
    background-size: 1500px;
}

.send-section {
    flex: 1;
    background-color: #fce6ca;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-contain {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.form-input {
    flex: 0 0 80%;
    margin-left: 5%;
    background-color: #fff;
}

.form-send {
    /* flex: 1; */
    margin-right: 5%;
}

.wrap-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vh;
}

.head-data {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.active-users {
    margin-bottom: auto;
    /* width: 100%; */
}

.actual-image {
    width: 100%;
    height: 100%;
}

.active-name {
    width: 8rem;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
}
.sidebar-image {
    justify-self: flex-end;
}

.sidebar-text {
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    margin: 1rem;
    display: flex;
}
.sidebar-icon {
    margin-right: 1rem;
}

.sidebar-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 10%;
    border: 2px solid #fff;
    padding: 1rem;
    /* color: #fff; */
}

.sidebar-msg-text {
    /* color: #fff; */
    font-weight: 600;
}

.extra-info {
    font-weight: 500;
    letter-spacing: 2px;
}

.auth {
    font-weight: 500;
    font-size: 3rem;
    color: red;
    margin: 2rem;
}
