* {
    margin: 0;
    padding: 0;
    /* display: inline-block; */
}

.navbar {
    display: inline-block;
    background-color: orangered;
}

.below-container {
    flex: 1;
    /* background-image: linear-gradient(
            rgba(16, 29, 44, 0.93),
            rgba(16, 29, 44, 0.93)
        ),
        url(../img/hero.jpeg); */
}

.complete-wrapper {
    height: 100vh;
    /* background-color: orangered; */
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
            rgba(16, 29, 44, 0.93),
            rgba(16, 29, 44, 0.93)
        ),
        url(../back.jpeg);
    background-size: 1500px;
}
